@font-face {
    font-family: 'Sri Papan';
    font-style: normal;
    font-weight: normal;
    src: local('Sri Papan'), url('./fonts/sri-papan_woff/Sri\ Papan.woff') format('woff');
}
   
ul, li {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center/100% url(./images/B9729175418Z.1_20211130130607_000+GUTJEIOV8.1-0.jpg);
    height: 100vh;
    color: white;
    filter: brightness(0.8);
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: rgba(78, 65, 53, 0.603);
    padding: 2% 2% 5% 2%;
    border-radius: 15px;
    height: 65vh;
    width: 60vw;
}

.progress {
    margin: 50px auto;
    padding: 5px;
    width: 30%;
    max-width: 500px;
    background: black;
    border-radius: 20px;
    height: 30px;
  }
  
  .progress .progress__bar {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(255, 123, 0);
    animation: fill-bar 3s infinite;
  }

h1 {
    font-family: 'Sri Papan' ;
    padding-bottom: 10%;
    font-size: 8em;
    color: rgb(231, 141, 39);
    text-shadow: 8px 8px 5px rgb(0, 0, 0);
}

button {
    padding: 1% 2% 1% 2%;
    display: none;
    border-radius: 12px;
    background-color: orange;
    border: none;
    font-size: 1.8em;
    position: absolute;
    margin: 62vh -48vw 0 0;
}

button:hover {
    cursor: pointer;
}

ul {
    display: flex;
    width: 60vw;
    color: black;
    font-size: 1.5em;
    justify-content: space-around;
    gap: 50%;
    padding-top: 5%;
}

li:first-of-type {
    padding: 1% 2% 1% 2%;
    border-radius: 12px;
    background-color: red;
}

li:nth-child(2) {
    padding:  1% 2% 1% 2%;
    background-color: gold;
    border-radius: 12px;
}

li:hover {
    cursor: pointer;
}